html body{
    height: 100%;
    background-image: url(https://www.wallpaperbetter.com/wallpaper/288/36/39/anime-girls-gray-background-original-characters-720P-wallpaper-middle-size.jpg);
    background-size: cover;
    background-attachment: fixed;
   
}
h2 {
    color: crimson;
    font-size: 45px;
    font-weight: bold;
}
.card{
    height: 330px;
    color: lightseagreen;
    font-weight: bold;
    border:5px solid black; 
}
.form-control{
    border-width:5px;  
}
#connect-status{
    color: blueviolet;
    font-weight: bold;
    font-size: 30px;
}
label.status1 {
    font-size: 25px;
    color: blue;
}
button{
    border-width:2px;  
    border-style:ridge;
}
h4{
   color: black; 
   text-align: center;
   margin-left: 40%;
   margin-right: 46%;
   font-weight: bold;
   
}
h1{
    text-align: center;
    padding-top: 20px;
}
 .table{
    
    overflow-y: auto; 
    height: 200px;
    background-color: gray;
    border: 5px solid black;
   
 }
table th{ 
    position: sticky;
    top: 0;
    }

table  { 
    
    border-collapse: collapse; 
    width: 100%; 
}
td , tr { 
    padding: 8px 16px;
    border: 3px solid blue;
    background-color: aqua;
}
th     { 
    border: 2px;
    color: red;
    text-align: center;
}